<div>
  <h1>BID-IT</h1>
  <br>
  <p>Bid it is an online bidding application which allows you to buy or sell items via an
    auction.</p>
  <p>As a user you can register today and start buying genuine and verified products and also put your products for
    sale.</p>
  <p>In case of any enquiry or complains you can click <a class="btn-link" routerLink="/about">here</a> and navigate to
    our about section.
  </p>
  <br>
  <div>
    <h3>Our features</h3>
    <span class="material-symbols-outlined zoom" tooltip="verified products">check_circle</span>
    <p style="padding-bottom: 5px">All products sold are genuine and verified.</p>
    <span class="material-symbols-outlined zoom" tooltip="security is priority">key</span>
    <p style="padding-bottom: 5px">Your account is safe and secure.</p>
    <span class="material-symbols-outlined zoom" tooltip="genuine bidding process">shopping_cart_checkout</span>
    <p style="padding-bottom: 5px">Buy and sell all kinds of products.</p>
    <span class="material-symbols-outlined zoom" tooltip="time based sales">work_history</span>
    <p style="padding-bottom: 5px">All deals have an expiry so hurry up.</p>
  </div>
  <div class="jumbotron bg-warning">
    <h1 class="display-4">START NOW!</h1>
    <p class="lead">Logon to start bidding, hope you have a wonderful experience.</p>
    <hr class="my-4">
    <p>New users can register and existing users please login.</p>
    <p class="lead">
      <a class="btn btn-danger btn-lg me-2 mb-2" routerLink="/login" role="button">Login</a>
      <a class="btn btn-success btn-lg me-2 mb-2" routerLink="/register" role="button">Register</a>
    </p>
  </div>
</div>
