<div class="container d-flex justify-content-center mt-5">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/avatar.jpg" class="img-fluid rounded-start zoom" alt="avatar">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.user.name}}</h5>
          <br>
          <p class="blockquote-footer">@{{product.user.username}}</p>
          <hr>
          <p class="card-text"><b>Phone Number: </b>{{product.user.contact}}</p>
          <p class="card-text"><b>Email Address: </b>{{product.user.email}}</p>
          <p class="card-text"><small class="text-muted">In case of any queries regarding the product, feel free to
            reach out to the seller.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
