<div class="container high">
  <h1>Contact Information</h1>
  <p>Please feel free to reach out to us.</p>
  <hr>
  <p><b>Name: </b>Parv Nautiyal</p>
  <p><b>Role: </b>Administrator</p>
  <p><b>Phone: </b>+91 8588826095</p>
  <p><b>Email: </b>parvnautiyal4@gmail.com</p>
  <p><b>Address: </b>13/1017 Vasundhara Ghaziabad, Uttar Pradesh</p>
  <p><b>Pincode: </b>201012</p>
  <p><b>Github: </b><a class="btn-link" href="https://github.com/parvnautiyal">https://github.com/parvnautiyal</a></p>
<span class="blockquote-footer">We are available 24x7 to assist you.</span>
  <br>
  <br>
  <h4>In case of any inconvenience you can also raise a query with us.</h4>
  <br>
  <button (click)="toggleTicket()" class="btn btn-primary">Raise a query</button>
  <br>
  <br>
</div>
